*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: whitesmoke;
}

.section,section,nav,header{
    background-color: white;
}

header>img{
    padding-bottom: 10px;
    margin: 20px 0 0 20px;
    width: 100px;
}

header>span{
    font-size: 80px;
    vertical-align:35px;
    font-weight: 800;
}

.finestra{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.button{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
    border-radius: 5px;
    margin: 2px;
    
}

.section{
    width: 140px;
    border: 2px solid rgb(151, 151, 151);
    color: rgb(151, 151, 151);
}


.task{
    background-color: #47ADF1;
    color: white;
    border: none;
    width: 110px;
}

nav{
    height: 104px;
    padding: 30px;
    padding-left: 100px;
    border-radius: 5px;
}

section{
    padding: 50px;
    padding-left: 90px;
    margin-top: 5px;
    border-radius: 5px;
}

.done{
    list-style-type: "\2705" ;
    margin-left: 55px;
}

.undone{
    list-style-type: "\274C";
    margin-left: 55px;
}

ul{
    margin-top: 40px;
}

ul li{
    padding:15px;
    font-size: 30px;
    font-weight: 700;
}

.titolista{
    font-size: 40px;
    font-weight: 900;
}

.titolista::before{
    content: "\1F53B"
}

.badje{
    color: white;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 2px;
    padding: 10px 15px 10px 15px;
}

.editorial{
    background-color: #47ADF1;
}

.Q{
    background-color: #9C72E4;
}

.recruit{
    background-color:#64C0A9 ;
}

.mobile{
    background-color:#F29E33 ;
}

.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}